
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="bg-image"></div>

<div class="bg-text">

  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">See Developer</button>
  <a href="./manageDB.html">Manage DB</a>
    <button onclick="location.href='http://127.0.0.1:8000/mpgprediction/';"style="width:auto;"">Predict MPG!</button>
  <button onclick="location.href='http://127.0.0.1:8000/aboutproject/';"style="width:auto;"">About project!</button>
 
</div>


<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="car.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input id="uname" type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  <div id="heda"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

var form = document.forms[0];
     var uname = form.querySelector('input[name="uname"]');
uname.value = 'sona'
     
     var heda = document.querySelector('#heda');

const API = 'http://127.0.0.1:8000/api/'

  function  fetchData(endpoint) {

  fetch(`${API}${endpoint}`).then(response => response.json())
  .then(data =>{
console.log(data.results[0]);
const result = data.results
const dev =  result[0]
heda.innerHTML = `
<table>
  <tr>

    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr>

<td>${dev.first_name}</td>
<td>${dev.last_name}</td>

</tr>
</table>
`
  });
  
}
fetchData('developer/list')

 
</script>

</body>
</html>
