<!DOCTYPE html>
<html>
<head>
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
db_all
<p>result : Object.keys({{db_all}}).length;</p>

<h2>Full database Table</h2>

<table>
  <tr>

    <th>Car Name</th>
    <th>mpg</th>
    <th>cylinders</th>
    <th>displacement</th>
    <th>horsepower</th>
    <th>weight</th>
    <th>acceleration</th>
    <th>model year</th>
    <th>origin</th>
    <th><button type="button">Action</button></th>
    <th><button type="button">Action</button></th>
    
  </tr>
</table>

</body>
</html>